<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A Book</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Create A Book</h1>
    <form action="/books" method="post" enctype="multipart/form-data" autocomplete="off">
        Title: <input type="text" name="title">
        Author: 
        <select name="author">
        <% authors.forEach(a => { %>
            <option value="<%= a._id %>"><%= a.name %></option>
        <% }); %>   
        </select>
        <div>
            Author not on the list? <a href="/authors/new">Add them here</a>
        </div>
        Completed: <input type="checkbox" name="completed">
        Book Cover Image: <input type="file" name="coverImage">
        <input type="submit" value="Add New Book">
    </form>
</body>
</html>