<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Author</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <h1>Create a New Author</h1>
    <form action="/authors" method="POST" autocomplete="off">
        <label>
            Name:
            <input type="text" name="name">
        </label>
        <label>
            Bio:
            <textarea name="bio" cols="30" rows="10"></textarea>
        </label>
        <input type="submit" value="Add Author">
    </form>
</body>
</html>